@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.Raleway 
    {
        font-family: "Raleway", sans-serif;
    }
.Inter 
    {
        font-family: "Inter", sans-serif;
    }
.background
    {
        background-image: url(/resources/images/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: cover;
    }
.bgcolor
    {
        height: 720px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);

    }